.contenido{
    margin-top: 15%;
    margin-left: 45%;
    align-content: center;
}

#menu{
   background-color: gray;
   display: flex;
   
   
}
.opcion{
    padding: 30px;
    border: 1px solid;
    color: black;
    
}